.login {
  text-align: center;
  color: #fff;
  padding-top: 20px;
}

.login h1 {
  margin: 0;
  background-color: #000000aa;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
}

.login p {
  color: #fff;
  background-color: #000000aa;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
}

.login form {
  background-color: #000000aa;
  padding: 10px;
}