.container {
  min-height: 80vh;
  background-image: url('./images/shenlong-side.png'), url('./images/output-onlinepngtools.png'), url('./images/wallpaperflare.com_wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left, right, center;
  background-size: contain, contain, cover;
}


@media screen and (max-width: 519px) {
  .container {
    background-size: 100%, 50%, cover;
    background-position: -20px 50%, 130% 70%, center;
  }
}