@font-face {
  font-family: 'bubble sans';
  src: url('./font/Bubble\ Sans\ Regular\ 1.001.otf');
}

html {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: "bubble sans", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "bubble sans", sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #fff;
  transition: 0.4s;
  font-size: 1em;
  cursor: pointer;
  font-family: "bubble sans", sans-serif;
}

a:hover,
nav button:hover {
  color: #ffff60;
}

/* form styles */
form {
  max-width: 90%;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label span {
  margin-bottom: 0.3em;
  font-weight: bold;
  text-align: left;
}

input,
textarea {
  box-sizing: border-box;
  border: 1px solid #ffffff;
  padding: 0.8em 0em;
  background-color: transparent;
  color: #fff;
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
}

.btn {
  background-color: #117607;
  color: #fff;
  padding: 0 35px;
  border: 2px inset gold;
  border-radius: 8px;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0px 0px 12px 6px inset rgb(41, 30, 0);
  font-family: 'montserrat';
}

.btn-fix {
  height: 40px;
  line-height: 40px;
}

.btn.btn-dark {
  background-color: #000;
  border-radius: 0px;
}

.btn.btn-outline {
  background-color: #fff;
  border: 1px inset gold;
  border-radius: 0px;
  color: #000;
  padding: 7px 30px;
  box-shadow: 0px 0px 12px 6px inset rgb(110, 110, 110);
}

.btn:hover {
  background-color: #0fb900;
  transition: 0.2s;
  box-shadow: 0px 0px 8px 3px inset rgba(41, 30, 0);
}

.btn.btn-outline:hover {
  background-color: #fff;
}

.btn.btn-danger:hover {
  background-color: #dc3545;
}

button[disabled] {
  background-color: #aaa;
}

.container .error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
}

.btn,
.btn-outline {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  vertical-align: middle !important;
  box-sizing: border-box !important;
  text-align: center !important;
}