.create_post {
  text-align: center;
  color: #fff;
  padding: 20px 0;
}

.create_post h2 {
  font-size: 2.2em;
  text-align: center;
  margin: 0 auto;
  background-color: #000000aa;
  padding: 10px;
  width: 90%;
}

.create_post p {
  color: #ffffff;
  background-color: #000000aa;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
}

.create_post form {
  background-color: #000000aa;
  padding: 10px;
  padding-bottom: 20px;
  width: 90%;
}

textarea,
input {
  padding-left: 15px;
}